@model Taller.USUARIOS

@{
    ViewBag.Title = "Eliminar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Usuario</h2>

<p class="text-danger">¿Seguro que deseas eliminar este usuario?</p>
<hr />

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">ID</label>
        <div class="col-md-10">
            <p class="form-control-static">@Model.idUsuario</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Usuario</label>
        <div class="col-md-10">
            <p class="form-control-static">@Model.Usuario</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Clave</label>
        <div class="col-md-10">
            <p class="form-control-static">@Model.Clave</p>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idUsuario)
    <div class="form-group">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
